<!-- <div class="pfl-wrapper">
    <nav id="nav">
        <div class="nav-icon"><span></span></div>
        <div class="hire-me">Hire me</div>
        <a routerLink="/first-component" target="_blank">UTEQ</a>

    </nav>
    <app-root></app-root>
</div> -->
<div class="pfl-wrapper">
    <!--  -->
    <nav id="nav">

        <div class="nav-icon"><span></span></div>

        <div class="hire-me">Hire me</div>
        <!-- <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/first-component" routerLinkActive="active">First Component</a>
         <a routerLink="/first-component" target="_blank">UTEQ</a>
        <div>
            <li><a routerLink="/first-component" routerLinkActive="active">First Component</a></li>
        </div>
        
        <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li> -->




    </nav>
    <br>

    <div>
        <li><a routerLink="/home" routerLinkActive="active">Home Component</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About Component</a></li>
        <li><a routerLink="/404" routerLinkActive="active">* Component</a></li>
    </div>
    <router-outlet></router-outlet>
</div>